<div class="change-padding" style="margin-top:30px">
    <div class="row">
        <%= render "links/links", :locals => {:active => 'profile'} %>
        <div class="col-md-9 bg-white right-part">
            <div class="row">
                <div class="col-md-4 profile-column">
                    <h3 class="text-center">Profile Page</h3>
                    <div class="user-pic"></div>
                    <div class="text-center font-weight-bold"><i class="fa fa-user"></i>&nbsp;<%= @user[:fullname] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                </div>
                <div class="col-md-8">
                    <% flash.each do |type, msg| %>
                        <% if type == 'success' %>
                            <div class="alert alert-success"><%= msg %></div>
                        <% elsif type == 'error' %>
                            <div class="alert alert-danger"><%= msg %></div>
                        <% else %>
                            <div class="alert alert-info"><%= msg %></div>
                        <% end %>
                    <% end %>
                    <%= form_for :user, url: profile_users_path, method: :patch, html: {class: 'login-form'} do |f| %>
                        <%= f.email_field :email, class: 'form-control', placeholder: 'Enter Your Email Address' %>
                            <% if @user != nil and @user.errors.any? and @user.errors.to_h[:email].to_s != "" %>
                                <div class="alert alert-danger"><%= "Email " + @user.errors.to_h[:email].to_s %></div>
                            <% end %>
                        <%= f.text_field :fullname, class: 'form-control', placeholder: 'Enter Your Full Name' %>
                            <% if @user != nil and @user.errors.any? and @user.errors.to_h[:fullname].to_s != "" %>
                                <div class="alert alert-danger"><%= "Full Name " + @user.errors.to_h[:fullname].to_s %></div>
                            <% end %>
                        <%= f.password_field :password, class: 'form-control', placeholder: 'Enter Your Password' %>
                            <% if @user != nil and @user.errors.any? and @user.errors.to_h[:password].to_s != "" %>
                                <div class="alert alert-danger"><%= "Password " + @user.errors.to_h[:password].to_s %></div>
                            <% end %>
                        <%= f.submit "Update Profile", class: 'form-submit' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>