<div class="change-padding" style="margin-top:30px">
    <div class="row">
        <%= render "links/links", :locals => {:active => 'projects'} %>
        <div class="col-md-9 bg-white right-part">
            <h3>Project Attachment List</h3>
            <%= link_to "Upload Attachment Files", projects_users_path + "/attachments/create/#{@project[:projectid]}", :class => 'btn btn-sm btn-secondary' %>
            <br>
            <% flash.each do |type, msg| %>
                <% if type == 'success' %>
                    <div class="alert alert-success"><%= msg %></div>
                <% elsif type == 'error' %>
                    <div class="alert alert-danger"><%= msg %></div>
                <% else %>
                    <div class="alert alert-info"><%= msg %></div>
                <% end %>
            <% end %>
            <br>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Files Count</th>
                    </tr>
                </thead>
                <tbody>
                    <% count = 0 %>
                    <% @projects.attachments.each do |attachment| %>
                        <tr>
                        <th scope="row"><%= count += 1 %></th>
                        <td><%= attachment.title %></td>
                        <td>
                            <%= attachment.files.count %>
                        </td>
                    </tr>
            <%# pagy_nav(@pagy).html_safe %>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>