<div class="change-padding" style="margin-top:30px">
    <div class="row">
        <%= render "links/links", :locals => {:active => 'users'} %>
        <div class="col-md-9 bg-white right-part">
            <h3>List of Project Threads</h3>
            <%= link_to "Create New Thread", projects_users_path + "/#{@project.projectid}/threads/add", :class => 'btn btn-sm btn-secondary'  %>
            <% flash.each do |type, msg| %>
                <% if type == 'success' %>
                    <div class="alert alert-success"><%= msg %></div>
                <% elsif type == 'error' %>
                    <div class="alert alert-danger"><%= msg %></div>
                <% else %>
                    <div class="alert alert-info"><%= msg %></div>
                <% end %>
            <% end %>
            <br>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% count = 0 %>
                    <% if @project_threads != nil %>
                    <% @project_threads.each do |project_thread| %>
                    <tr>
                    <th scope="row"><%= count += 1 %></th>
                    <td><%= project_thread.topic %></td>
                    <td>
                        <%= link_to "Update Thread", projects_users_path + "/#{@project.projectid}/threads/edit/#{project_thread.thread_id}", :class => 'btn btn-sm btn-secondary' %>
                        <%= link_to "Delete Thread", projects_users_path + "/#{@project.projectid}/threads/delete/#{project_thread.thread_id}", data: {confirm: "Are you sure you want to delete this thread?"}, :class => 'btn btn-sm btn-danger' %>
                    </td>
                    </tr>
                    <% end %>
                    <% end %>
                </tbody>
            </table>
            <%# pagy_nav(@pagy).html_safe %>
        </div>
    </div>
</div>